<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <ul
      id="msg-list"
      style="list-style: none; min-height: 200px; padding: 10px;"
    ></ul>

    <div class="row">
      <div class="col-xs-9">
        <input
          type="text"
          id="msg"
          class="form-control"
          placeholder="Your Message"
        />
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="/js/phoenix.js"></script>

    <script type="text/javascript">
      let socket = new Phoenix.Socket("wss://sphxchat.herokuapp.com/socket", {
        params: { token: window.userToken },
      });
      // let socket = new Phoenix.Socket("ws://localhost:4000/socket", {
      //   params: { token: window.userToken },
      // });
      socket.connect();

      let room = "<%= room_id%>";
      var currentUser = "<%= user_id%>";
      let channel = socket.channel("room:" + room, {});

      channel.on("shout", function (payload) {
        console.log(payload, "payload");
        // listen to the 'shout' event
        let li = document.createElement("li"); // create new list item DOM element
        // let name = payload.name || "guest"; // get name from payload or set default
        // li.innerHTML = "<b>" + name + "</b>: " + payload.message; // set li contents
        li.innerHTML =
          "<b>" +
          payload.user +
          ":" +
          payload.message +
          "created:" +
          payload.inserted_at; // set li contents
        ul.appendChild(li); // append to list
      });

      channel.join().receive("ok", (resp) => {
        console.log("Joined successfully", resp);
      }); // join the channel.

      let ul = document.getElementById("msg-list"); // list of messages.
      //   let name = document.getElementById("name"); // name of message sender
      let msg = document.getElementById("msg"); // message input field

      // "listen" for the [Enter] keypress event to send a message:
      msg.addEventListener("keypress", function (event) {
        if (event.keyCode == 13 && msg.value.length > 0) {
          // don't sent empty msg.
          channel.push("shout", {
            // send the message to the server on "shout" channel
            // name: name.value, // get value of "name" of person sending the message
            message: msg.value, // get message text (value) from msg input field.
            room: room,
            user: currentUser,
          });
          msg.value = ""; // reset the message input field for next message.
        }
      });
    </script>
  </body>
</html>
