<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form id="notes-form" method="post">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="room"
          hidden
          value="<%= room_id%>"
        />
      </div>
      <div class="form-group">
        <label for="">Title</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          placeholder="title"
        />
      </div>
      <div class="form-group">
        <label for="">Notes</label>
        <textarea
          class="form-control"
          name="notes"
          id="notes"
          rows="3"
        ></textarea>
      </div>
    </form>
    <div id="notes-section"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/phoenix.js"></script>
    <script>
      function addNotes(data) {
        console.log(data);
        return `<div class="card">
      <div class="card-body">
        <h4 class="card-title">${data.name}</h4>
        <p class="card-text">${data.notes}</p>
      </div>
      </div>`;
      }

      let socket = new Phoenix.Socket("wss://sphxchat.herokuapp.com/socket", {
        params: { token: window.userToken },
      });
      //   let socket = new Phoenix.Socket("ws://localhost:4000/socket", {
      //     params: { token: window.userToken },
      //   });
      socket.connect();

      let room = "<%= room_id%>";
      let channel = socket.channel("room:" + room, {});

      channel.on("notes", function (payload) {
        console.log(payload);
        $("#notes-section").append(addNotes(payload));
      });

      channel.join().receive("ok", (resp) => {
        console.log("Joined successfully", resp);
      }); // join the channel.

      let note_name = document.getElementById("name"); // list of messages.
      //   let name = document.getElementById("name"); // name of message sender
      let notes = document.getElementById("notes"); // message input field

      // "listen" for the [Enter] keypress event to send a message:
      notes.addEventListener("keypress", function (event) {
        if (event.keyCode == 13 && notes.value.length > 0) {
          // don't sent empty msg.
          channel.push("notes", {
            // send the message to the server on "shout" channel
            // name: name.value, // get value of "name" of person sending the message
            notes: notes.value, // get message text (value) from msg input field.
            room: room,
            name: note_name.value,
          });
          notes.value = ""; // reset the message input field for next message.
          note_name.value = "";
        }
      });
    </script>
  </body>
</html>
