<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #dddddd;
      }
      textarea:focus,
      input:focus {
        outline: none;
      }
      .logo {
        width: 150px;
      }
      textarea {
        overflow: hidden;
        resize: none;
        display: block;
      }
      .cstm-notes {
        border-radius: 10px;
      }
      .btn:focus,
      .btn:active {
        outline: none !important;
        box-shadow: none;
      }
      @media (max-width: 575px) {
        .for-notes {
          margin: 0px 10%;
        }
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-sm navbar-light bg-light border-bottom px-sm-5 px-4"
    >
      <a class="navbar-brand px-0 px-sm-5" href="#"
        ><img class="img-fluid logo" src="/icons/notes_logo.svg"
      /></a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end ml-5 ml-sm-0"
        id="collapsibleNavId"
      ></div>
    </nav>
    <div class="container">
      <div class="row for-notes">
        <div
          class="card card-body col-sm-9 col-md-9 col-lg-4 mx-auto cstm-notes shadow mt-4"
        >
          <input
            type="text"
            name="name"
            id="note_name"
            placeholder="Title"
            class="border-0 p-2"
            autocomplete="off"
          />
          <textarea
            name="notes"
            id="notes"
            cols="30"
            rows="1"
            placeholder="Take a Note...."
            class="border-0 p-2"
          ></textarea>
          <span class="ml-auto">
            <button class="btn border-0 text-secondary" id="cancel">
              Cancel
            </button>
            <button class="btn border-0 text-secondary" id="save">Save</button>
          </span>
        </div>
      </div>
      <div class="row my-5">
        <div class="card-columns mx-auto w-75" id="notes-section"></div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/phoenix.js"></script>
    <script>
      function addNotes(data) {
        return `<div class="card shadow-sm cstm-notes my-2">
      <div class="card-body">
        <h4 class="card-title">${data.name}</h4>
        <p class="card-text" style="white-space:pre-wrap">${data.notes}</p>
      </div>
      </div>`;
      }
      let socket = new Phoenix.Socket("wss://sphxchat.herokuapp.com/socket", {
        params: { token: window.userToken },
      });
      //   let socket = new Phoenix.Socket("ws://localhost:4000/socket", {
      //     params: { token: window.userToken },
      //   });
      socket.connect();
      let room = "<%= room_id%>";
      let channel = socket.channel("room:" + room, {});
      channel.on("notes", function (payload) {
        $("#notes-section").append(addNotes(payload));
      });
      channel.join().receive("ok", (resp) => {
        console.log("Joined successfully", resp);
      }); // join the channel.
      let note_name = document.getElementById("note_name"); // list of messages.
      let save_btn = document.getElementById("save");
      let cancel_btn = document.getElementById("cancel");
      let notes = document.getElementById("notes"); // message input field
      // "listen" for the [Enter] keypress event to send a message:
      save_btn.addEventListener("click", function (event) {
        console.log();
        if (notes.value.replace(/\s+/g, "").length > 0) {
          channel.push("notes", {
            // send the message to the server on "shout" channel
            // name: name.value, // get value of "name" of person sending the message
            notes: notes.value, // get message text (value) from msg input field.
            room: room,
            name: note_name.value || "no-title",
          });
        }
        note_name.value = "";
        notes.value = "";
        autosize();
      });
      cancel_btn.addEventListener("click", function (event) {
        note_name.value = "";
        notes.value = "";
        autosize();
      });
      notes.addEventListener("keydown", autosize);
      function autosize() {
        var el = notes;
        setTimeout(function () {
          el.style.cssText = "height:auto; padding:0";
          el.style.cssText = "height:" + el.scrollHeight + "px";
        }, 0);
      }
    </script>
  </body>
</html>
